.list {
  padding-top: 10px;
}

.title {
  margin-bottom: 3px;
  .p-key {
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #3a4247 !important;
    border-bottom: 1px solid #3a4247;
    font-style: italic;
  }
  .p-value { 
    font-weight: 600 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
}